<!doctype html>
<html>
	<head>
		<title>My Blog</title>
	</head>
	<body>
		<h1>{{greeting}}</h1>
		<h2>Posts</h2>
		<ol>
			{{#each posts}}
				<li>{{title}}</li>
			{{/each}}
		</ol>
	</body>
</html>
